.body {
  background-color: #181a1b;
}

.input {
  width: 80%;
  height: 400px;
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  background-color: #1f2223;
  color: white;
}

.userInput {
  padding: 16px 32px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #767676;
  margin: 4px 2px;
  background-color: #1f2223;
  cursor: pointer;
  color: white;
}

.output {
  width: 80%;
  height: 100px;
  font-size: 16px;
  font-family: monospace;
  padding: 10px;
  background-color: #1f2223;
  color: white;
}

.header {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  color: #72ff72;
  font-size: 30px;
}

.button {
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  display: inline-block;
  margin: 4px 2px;
  background-color: #181a1b;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border: 2px solid #00d900;
}

.button:hover {
  background-color: green;
}
